<head>
    <link rel="stylesheet" href="./style.css">
    <script type="module" src="./utility/dom.js"></script>
</head>

<body>
    <h1 id="mainTitle">Welcome to the Call of War Helper (development version)</h1>
    <div>
        <label>New Title</label>
        <input type="text">
    
        <p id = "serverText">ServerText</p>
    </div>
    <div>
        <img  src="../images/buildInfo-Industry.png" data-filetype = "image">
        <img src="../images/buildInfo-localIndustry.png" data-filetype = "image">
    </div>


</body>

