body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4C4839;
    --light: #DAD6C7;
    --dark: #595444;
    margin: 0;
}
body[data-page-id="unit-info"]{
    background-image: url('./custom/cow/shared/images/backgrounds/map_blur.png');
}
main{
    margin: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.rowLabel p,
.rowValue,
#unitType,
#unitLevel,
p,
h1,
h2,
span {
    margin: 0;
    font-size: small;
}

[data-textType="notice"] {
    font-size: small;
    padding: 10px;
}

#unitType,
#unitLevel {
    color: white;
}

.rowValue {
    font-weight: 500;
}

button#level-up,
button#level-down {
    background: none;
    color: white;
    /*#b8b094;*/
    font-size: 20px;
    border: none;
    padding: 0;
    cursor: pointer;
    margin: 0 10px;
    text-shadow: 0px 0px 10px rgba(218, 214, 199, 1);
}

button:disabled {
    color: lightgray;
    opacity: 0.25;
    cursor: not-allowed;
}

@media only screen and (max-width: 500px) {

    button#level-up,
    button#level-down {
        font-size: 2em;
    }
}


.infoCard {
    display: none;
    width: 100%;
    border: solid 2px #DAD6C7;
    background-color: #DAD6C7;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.infoCard-title {
    width: 100%;
    background-color: #1D1B12;
    background-image: url('/images/factions/1_s9.png');
    background-position: right;
    background-repeat: no-repeat;

    background-size: contain;
    display: flex;
} 

.unitPortrait {
    display: flex;

    flex-direction: column;
    justify-content: end;
    height: fit-content;
    overflow: visible;

    background-image:
        /*url('/images/units_portrait/infantry_1_s3.png'), */
        url('./images/factions/1_s9.png'),
        url('./images/textures/unit_info_background.jpg');
    background-position:top right, center;
    background-repeat: no-repeat;
    background-size: contain, cover;
    background-blend-mode:overlay, screen;
}

[data-imageType="unitIcon"] {
    height: 100%;
    filter: drop-shadow(1px 0px 1px rgb(0,0,0,0.5)) drop-shadow(-1px 0px 1px rgb(0,0,0,0.5));
}

.unitTypeInfo {
    display: flex;
    height: clamp(40px, 75px, 100px);
    padding: 5px 20px;
    flex-direction: row;
    align-items: end;
    background-image: linear-gradient(to top, rgb(0, 0, 0,0.7), rgb(23, 3, 3,0.4), rgba(0, 0, 0, 0));
    font-weight: 600;
    font-size: medium;
}


.sectionContainer {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    column-gap: 10px;
    row-gap: 10px;
}

#unitType,
#unitLevel {
    font-size: 16px;
}

.textContainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}