body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4C4839;
    padding: 10px 50px;
    background-image: url(/images/textures/army_bar_units_bg_1.png);
    background-position:bottom; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain;
    --light: #DAD6C7;
    --dark: #595444;
    margin: 0;
}

.rowLabel p, .rowValue, #unitType, p, h1, h2{
    margin: 0;
    font-size: small;
}
[data-textType = "notice"]{
    font-size: small;
    padding: 10px;
}
#unitType{
    color: white;
}
.rowValue{
    font-weight: 500;
}


.infoCard{
    display: none;
    /*width:fit-content;*/
    width: 100%;
    margin: 10 0; 
    border: solid 2px #DAD6C7;
    background-color: #DAD6C7;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}
.infoCard-title{
    width: 100%;
    background-color: #1D1B12;
    background-image: url('/images/factions/1_s9.png');
    background-position: right;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain;
    display: flex;
    
}
.infoCard-title h2{
    padding: 10px 0 10px 10px;
    color: white;
    font-size: large;
}


.unitPortrait{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 80px;
    background-image: 
    /*url('/images/units_portrait/infantry_1_s3.png'), */
    url('/images/textures/unit_info_background.jpg');
    background-position:center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
[data-imageType = "unitIcon"]{
    height: 90px;
    margin-right: 3px;
}

.unitTypeInfo{
    display: flex;
    flex-direction: row;
    align-items: end;
    padding: 0px 5px 10px 5px;    
    background-image: linear-gradient(to top, rgba(0,0,0,1),rgba(0,0,0,.75),rgba(0,0,0,0));
    font-weight: 600;
    font-size: medium;
}
#prod-time{
    margin-left: 3px;
}

.sectionContainer{
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

