:root, :host {
    --light: #DAD6C7;
    --mid: #b8b094;
    --dark: #595444;
    --text-dark: #1D1B12;
    --brown-grey: #7D7B73;
    --outer-border: outset 3px var(--mid);
}



img{
    transition: all 0.1s ease-out;
    filter: grayscale(100%);
}
.container {
    background-image: url(./images/textures/texture6.jpg);
    background-position: center;
    /* background-repeat: repeat;*/
    background-size: cover;
    
    background-blend-mode: overlay;
}

.icon-bar,
.icon-set {
    display: flex;
    flex-flow: row no-wrap;
    width: 100%;
}

.icon-set {
    /*Initially set all sub-menus as hidden*/
    display: none;
}

.icon-bar {
    background-color: var(--brown-grey);

    mix-blend-mode: multiply;
}

.icon-bar.category a.active {
    /* border: solid 3px #1D1B12;*/
    background-color: var(--light);
    color: var(--dark);
    border-radius: 10px 10px 0 0;
    border: var(--outer-border);
    border-bottom: none;
    /*box-shadow: inset 0px 38px 26px -29px rgba(0, 0, 0, 0.67);*/
    /*box-shadow: 11px -10px 12px 0px rgba(114, 105, 105, 0.74);*/
}



.icon-bar a {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px 0;
    border-bottom: var(--outer-border);
    transition: all 0.1s ease-out;
    /* Add transition for hover effects */
    color: var(--light);
    font-size: small;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.icon-bar.units {
    box-shadow: inset 0px -50px 20px -20px rgba(114, 105, 105, 0.75);
}

.icon-bar.units a {
    background-color: var(--light);
    color: var(--text-dark);
    height: 80px;
    font-size: small;
}
.icon-bar.units a:first-of-type {
    border-left: var(--outer-border);
}
.icon-bar.units a:last-of-type {
    border-right: var(--outer-border);
}

.icon-bar.units a.active {
    font-weight: 800;
    color: var(--text-dark);
}
.icon-bar.units a.active span::before, .icon-bar.units a.active span::after{
    content: " ❚ ";
    font-size: medium;
    color: #7D7B73;
}
.icon-bar.units a.active img{
height: 60px;
filter: grayscale(0);
}

.icon-bar.units a:hover img {
   height: 60px;
   filter: grayscale(0) drop-shadow(-6px -6px 1px rgb(35, 35, 35, 0.3)) sepia(100%) drop-shadow(-12px -12px rgb(177, 177, 178, 0.5));

}

svg {
    height: 40px;
    width: 100%;
    fill: currentColor;
    transition: all 0.1s ease-out;
    /* Add transition for hover effects */

}


.icon-bar.category a:not(.active):hover {
    background-color: var(--dark);
    color: var(--light);
    mix-blend-mode: hard-light;
    box-shadow: inset 0px 0px 85px rgba(0, 0, 0, 0.6);
}

.active .i {
    fill: currentColor;
    height: 37px;
    width: 100%
}

.icon-bar a:not(.active):hover .i {
    fill: currentColor;
    filter: drop-shadow(0px 0px 12px rgba(218, 214, 199, 1));
    mix-blend-mode: screen;
}

[data-unittype] img {
    height: 50px;
}